.app {
    background: rgb(158, 251, 136);
    background: linear-gradient(180deg, rgba(158, 251, 136, 1) 0%, rgba(73, 208, 247, 1) 100%);
}

form {
    -webkit-box-shadow: 1px 0px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 31px 0px rgba(0, 0, 0, 0.75);
}
span{
    display: none;
}
input:invalid[focused="true"] {
    border: 1px solid red;
}
input:invalid[focused="true"] ~ span{
    display: block;
}